/** HTML */
html,
body {
  margin: 0px;
  background-color: $background-color-body;
  height: 100vh;
  font-size: $font-md;
  font-family: 'Montserrat', sans-serif;
  color: $color-black;

  #root {
    height: 100%;
  }
}

button {
  all: unset;
}

a {
  all: unset;
  cursor: pointer;
}

p {
  margin: 0;
}
/** HTML */

/** Class font */
.font-md {
  font-size: $font-md;
}

.font-lg {
  font-size: $font-lg;
}
/** Class font */

/** Class color */
.color-main {
  color: $color-main;
}
.color-danger {
  color: red;
}
.color-black {
  color: $color-black;
}
/** Class color */

/** Class Btn */
.btn-main {
  min-width: 80px;
  padding: 0.5rem 2rem;
  color: $color-white;
  background-color: $background-color-btn-confirm;
  border-radius: $border-radius-xs;
}

.btn-minor {
  min-width: 80px;
  padding: 0.5rem 2rem;
  color: $color-white;
  background-color: $background-color-btn-cancel;
  border-radius: $border-radius-xs;
}

.btn-white-outline {
  padding: 0.25rem 0.25rem;
  border: 2px solid white;
  border-radius: $border-radius-xs;
  background-color: transparent;
}
/** Class Btn */

/** Class other */
.vertical-line {
  border-left: 3px solid $vertical-line;
}

.avatar {
  width: 40px;
  height: 40px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color-avatar;
  border-radius: 50%;
}
/** Class other */
