/** Background */
$background-color-white: #ffffff;
$background-color-body: #e1eaf2;
$background-color-card: #f0f4f6;
$background-color-btn-confirm: #acd2e4;
$background-color-btn-cancel: #7b7b7b;
$background-input-focus: #e9f3f8;
$background-color-avatar: #7b7b7b;
/** Background */

/** Border */
$border-radius-lg: 2.5rem;
$border-radius-md: 1.5rem;
$border-radius-sm: 1rem;
$border-radius-xs: 0.5rem;
$border-color-blue: #acd2e4;
$border-color-grey: #d0d7da;
/** Border */

/** Icon */
$icon: #d0d7da;
$icon-active: #acd2e4;
/** Icon */

/** line */
$vertical-line: #f0f4f6;
/** line */

/** Font */
$font-md: 20px;
$font-lg: 32px;
$color-main: #acd2e4;
$color-black: #dadada;
$color-white: #ffffff;
/** Font */

/** Shadow */
$shadow-color-main: #d1e0e7;
/** Shadow */

/** Input */
/** Input */
