.member-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  height: 70vh;
  overflow: scroll;
}

.member-card {
  height: 400px;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: $border-radius-md;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $color-white;
}
