.feature-layout-container {
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

.feature-layout-content {
  height: 100%;
  background-color: $background-color-card;
  border-radius: $border-radius-lg;
  padding: 2rem;
}

.navigation-content {
  height: 100%;
  padding: 2rem;
}
